@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("./fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Thin.woff2") format("woff2"), url("./fonts/Gilroy-Thin.woff") format("woff"), url("./fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("./fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-UltraLight.woff2") format("woff2"), url("./fonts/Gilroy-UltraLight.woff") format("woff"), url("./fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("./fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Light.woff2") format("woff2"), url("./fonts/Gilroy-Light.woff") format("woff"), url("./fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Regular.woff2") format("woff2"), url("./fonts/Gilroy-Regular.woff") format("woff"), url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("./fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Medium.woff2") format("woff2"), url("./fonts/Gilroy-Medium.woff") format("woff"), url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("./fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Semibold.woff2") format("woff2"), url("./fonts/Gilroy-Semibold.woff") format("woff"), url("./fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Bold.woff2") format("woff2"), url("./fonts/Gilroy-Bold.woff") format("woff"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("./fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Extrabold.woff2") format("woff2"), url("./fonts/Gilroy-Extrabold.woff") format("woff"), url("./fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("./fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Black.woff2") format("woff2"), url("./fonts/Gilroy-Black.woff") format("woff"), url("./fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("./fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Heavy.woff2") format("woff2"), url("./fonts/Gilroy-Heavy.woff") format("woff"), url("./fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
:root {
  --gilroy-family: "Gilroy", sans-serif;
  --gilroy-font-weight-400: 400;
  --gilroy-font-weight-500: 500;
  --gilroy-font-weight-600: 600;
  --gilroy-font-weight-700: 700;
  --gilroy-font-weight-800: 800;
  --general-transition-effect: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242731;
  font-family: var(--gilroy-family);
  color: #fff;
  margin: 0;
}

main {
  position: relative;
  overflow: hidden;
  min-height: 100dvh;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  color: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  outline: none;
  text-decoration: none;
}

input {
  outline: none;
}

span {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 960px) {
  .header {
    padding-top: 10px;
  }
}
.header__container {
  max-width: 1040px;
  margin: 0 auto;
  padding-inline: clamp(16px, 4vw, 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo-wrapper {
  padding: 24px 0;
}
.header__logo {
  width: clamp(101px, 25vw, 182px);
  height: auto;
}
.header__meet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  padding: 32px 0;
}
.header__meet-date, .header__meet-time {
  width: clamp(88px, 15vw, 141px);
  height: clamp(24px, 4vw, 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #302e5a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: clamp(11px, 1.5vw, 14px);
  font-weight: 600;
  line-height: 1;
  color: #fff;
  border-radius: 10px;
}
.header__meet-date img, .header__meet-time img {
  width: clamp(12px, 1.5vw, 15px);
}

.hero {
  padding-top: 102px;
}
@media screen and (min-width: 960px) {
  .hero {
    margin-bottom: 80px;
  }
}
.hero__container {
  padding-inline: clamp(16px, 4vw, 56px);
  max-width: 640px;
  margin-inline: auto;
}
@media screen and (min-width: 960px) {
  .hero__container {
    max-width: 1040px;
    display: grid;
    grid-template-columns: 427px 366px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 58px;
  }
}
.hero__head-badge {
  width: clamp(89px, 10vw, 119px);
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: 600;
  background-color: #4252d1;
  border-radius: 5px;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .hero__head-badge {
    margin: 0;
    height: 32px;
  }
}
.hero__title {
  font-size: 15px;
  font-weight: var(--gilroy-font-weight-600);
  margin-bottom: 16px;
  text-align: center;
  text-wrap: balance;
}
@media screen and (min-width: 960px) {
  .hero__title {
    font-size: 21.95px;
    margin-bottom: 20.46px;
  }
}
.hero__title--main {
  font-size: clamp(52px, 10vw, 77px);
  font-weight: var(--gilroy-font-weight-800);
  color: #ff3459;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.hero__title--bg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: var(--gilroy-font-weight-800);
  padding: 5px 7px;
  margin-right: 11.63px;
}
@media screen and (min-width: 960px) {
  .hero__title--bg {
    font-size: 23.64px;
    padding: 8.13px 13.4px;
    margin-right: 16px;
  }
}
.hero__title--bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ff3459;
  border-radius: 3.57px;
  z-index: -1;
  rotate: -3.51deg;
}
@media screen and (min-width: 960px) {
  .hero__title--bg::before {
    border-radius: 5px;
  }
}
.hero__subtitle {
  font-size: 14px;
  line-height: 1.48;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 960px) {
  .hero__subtitle {
    font-size: 18px;
    text-align: left;
    margin-bottom: 0;
  }
}
.hero__subtitle span {
  font-weight: 600;
}
.hero__form {
  background-color: #303a53;
  border-radius: 10px;
  padding: 40px 21px;
  margin-bottom: 36px;
}
@media screen and (min-width: 960px) {
  .hero__form {
    padding: 50px 58px;
    grid-row: span 2;
    margin-bottom: 0;
  }
}
.hero__form-head {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
  text-wrap: balance;
}
@media screen and (min-width: 960px) {
  .hero__form-head {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
.hero__form-head span {
  color: #ff3459;
}
.hero__form-policy {
  font-size: 11px;
  line-height: 1.48;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-wrap: balance;
}
@media screen and (min-width: 960px) {
  .hero__form-policy {
    font-size: 12px;
  }
}
.hero__form-policy a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
.hero__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
  max-width: 224px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero__info {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .hero__info {
    display: block;
    max-width: 100%;
    margin: 0;
  }
}
.hero__info-person {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 11px;
  margin-bottom: 59px;
  grid-row: 2;
}
@media screen and (min-width: 480px) {
  .hero__info-person {
    grid-row: 1;
  }
}
@media screen and (min-width: 960px) {
  .hero__info-person {
    gap: 16.65px;
    margin-bottom: 16px;
  }
}
.hero__info-person img {
  width: 51px;
}
.hero__info-person-head {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}
@media screen and (min-width: 960px) {
  .hero__info-person-head {
    font-size: 13px;
    margin-bottom: 0;
  }
}
.hero__info-person-head span {
  color: #4252d1;
}
.hero__info-person-text {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
}
.hero__info-bonus {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 16.19px;
}
@media screen and (min-width: 960px) {
  .hero__info-bonus {
    gap: 30.19px;
  }
}
.hero__info-bonus img {
  width: 45.81px;
  aspect-ratio: 1;
}
@media screen and (min-width: 960px) {
  .hero__info-bonus img {
    width: 37px;
  }
}
.hero__info-bonus-head {
  font-size: 14px;
  line-height: 1.48;
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .hero__info-bonus-head {
    font-size: 12px;
  }
}
.hero__info-bonus-head span {
  color: #4252d1;
}
.hero__info-bonus-text {
  font-size: 12px;
  line-height: 1.48;
  font-weight: 400;
}
@media screen and (min-width: 960px) {
  .hero__info-bonus-text {
    text-wrap: balance;
  }
}

.form {
  margin-bottom: 18.45px;
}
@media screen and (min-width: 960px) {
  .form {
    margin-bottom: 20px;
  }
}
.form input {
  margin-bottom: 14px;
  background-color: #272d3d;
  color: #d7d7d7;
  font-size: 12px;
  line-height: 21.5px;
  font-weight: 400;
  padding: 12px 26.29px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .form input {
    padding: 13px 22px 14px;
    font-size: 13px;
    line-height: 24px;
    border-radius: 4.48px;
  }
}
.form input::-webkit-input-placeholder {
  color: #d7d7d7;
  font-size: 13px;
  line-height: 24px;
}
.form input::-moz-placeholder {
  color: #d7d7d7;
  font-size: 13px;
  line-height: 24px;
}
.form input:-ms-input-placeholder {
  color: #d7d7d7;
  font-size: 13px;
  line-height: 24px;
}
.form input::-ms-input-placeholder {
  color: #d7d7d7;
  font-size: 13px;
  line-height: 24px;
}
.form input::placeholder {
  color: #d7d7d7;
  font-size: 13px;
  line-height: 24px;
}
.form button {
  width: 100%;
  background-color: #0048ff;
  font-size: 14px;
  font-weight: bold;
  line-height: 21.5px;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (min-width: 960px) {
  .form button {
    font-size: 15px;
    line-height: 24px;
    padding: 13px 0 14px;
    background-color: #ff3459;
  }
}

.footer {
  display: none;
}
@media screen and (min-width: 960px) {
  .footer {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
  }
}
.footer__text {
  font-size: clamp(32px, 8.8vw, 200px);
  line-height: 0.7;
  font-weight: 800;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: transparent;
  -webkit-text-stroke: 1.6px rgba(255, 255, 255, 0.05);
}

.baloon--1::after {
  display: none;
  position: absolute;
  content: "";
}
@media screen and (min-width: 960px) {
  .baloon--1::after {
    display: block;
    left: -5%;
    top: -5%;
    width: 400px;
    aspect-ratio: 1;
    background-color: #332f65;
    -webkit-filter: blur(150px);
            filter: blur(150px);
    border-radius: 50%;
    z-index: -1;
  }
}

.baloon--2::after {
  position: absolute;
  content: "";
  bottom: -30%;
  left: -20%;
  width: 912px;
  aspect-ratio: 1;
  background-color: #332f65;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 50%;
  z-index: -1;
}
@media screen and (min-width: 960px) {
  .baloon--2::after {
    top: -30%;
    right: -25%;
    left: auto;
    bottom: auto;
    width: 790px;
  }
}

.hmtl {
  position: absolute;
  top: 250.2px;
  right: 44.53px;
  max-width: 88.28px;
  aspect-ratio: 1;
}
@media screen and (max-width: 1399.98px) {
  .hmtl {
    display: none;
  }
}
.hmtl__thumb {
  rotate: 12.3deg;
}
.hmtl__dot {
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  background-color: #f16529;
  border-radius: 50%;
  right: -6.53px;
  top: 10.26px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.css {
  position: absolute;
  top: 350.05px;
  right: 147.16px;
  width: 60.4px;
  height: 85.45px;
}
@media screen and (max-width: 1399.98px) {
  .css {
    display: none;
  }
}
.css__thumb {
  rotate: -21.66deg;
}
.css__dot {
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  background-color: #2965f1;
  border-radius: 50%;
  right: 0;
  top: -5.6px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.js {
  position: absolute;
  top: 411.25px;
  right: 45.07px;
  width: 61.89px;
  height: 72.94px;
}
@media screen and (max-width: 1399.98px) {
  .js {
    display: none;
  }
}
.js__thumb {
  rotate: 15.82deg;
}
.js__dot {
  position: absolute;
  width: 6px;
  aspect-ratio: 1;
  background-color: #f0be25;
  border-radius: 50%;
  right: -15.07px;
  top: 13.2px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.sublime {
  position: absolute;
  top: 490.1px;
  right: 158.98px;
  width: 53.93px;
  aspect-ratio: 1;
}
@media screen and (max-width: 1399.98px) {
  .sublime {
    display: none;
  }
}
.sublime__thumb {
  rotate: -15.12deg;
}
.sublime__dot {
  position: absolute;
  width: 6px;
  aspect-ratio: 1;
  background-color: #ff9800;
  border-radius: 50%;
  right: 0;
  top: -13.1px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.visual {
  position: absolute;
  top: 555.71px;
  right: 74.67px;
  width: 60.62px;
  aspect-ratio: 1;
}
@media screen and (max-width: 1399.98px) {
  .visual {
    display: none;
  }
}
.visual__thumb {
  rotate: -20.56deg;
}
.visual__dot {
  position: absolute;
  width: 6px;
  aspect-ratio: 1;
  background-color: #48aef3;
  border-radius: 50%;
  right: -12.67px;
  top: 52.29px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.iti.iti--show-flags {
  width: 100%;
  margin-bottom: 14px;
}

.iti__dropdown-content {
  background-color: #303a53;
}/*# sourceMappingURL=index.css.map */